a{
  padding: 0px;
}
.navbar{
  margin-bottom: 1vh;
  background: linear-gradient( rgba(0, 0, 0, .5), rgba(0, 0, 0, 0.5) ), url("../images/cover.jpg");
  background-size: cover;
}
.navbar ul{
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}
.navbar li{
  margin-left: -6%;
  padding-top:5px;
}
.navbar a{
  color: white;
}
.navbar a:hover{
  color:white;
}

.container {
    width: 100%;
    height: auto;
    max-height: none;
    min-height: 0;
    background: white;
    margin-bottom: 1vh;
  }
.inner-text p{
  display: none;
}
.inner-search{
  width: 100%;
}
.inner-search form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: flex-start;
}
.inner-search input{
    box-sizing: border-box;
    width: 75%;
    height: 5vh;
    border: 2px solid rgb(245,100,0);
  }
.inner-search button{
  background-color: #F56400;
  height: 5vh;
  border-color: rgba(0, 0, 0, 0.1);
  color: #FFF;
}
section{
    width: 100%;
}
section h1{
  font-size: 2em;
}
footer .navbar ul{
  display: none;
}
.php_image{
  margin-top: 10px;
  width: 350px;
}
.howto-text{
  width: 100%;
  margin: auto;
}
.php_table{
  margin: auto;
  width: auto;
  background-color: white;
}
.about-text{
  text-align: left;
  font-size: 1em;
  padding-left: 5px;
  padding-right:5px;
}
section #item-paragraph{
  padding-left: 2%;
  padding-right: 2%;
  font-size: 1em;
  text-align: left;
}
.php_large_only{
  display: none;
}
.item-box{
  border: 1px solid black;
  padding:5px;
  margin: 5px;
  width: 150px;
  height: 200px;
}
.item-box-title{
  font-size: .8em;
}
.item-box-time{
  font-size: .8em;
}

.item-box-image{
  overflow: hidden;
  width: 100%;
  height: 65%;
  margin-top: 5px;
}
