body{
font-family: "Graphik Web","Arial","Helvetica","sans-serif";
background-color: white;
box-sizing: border-box;
}
header{
}
a{
  color: #333;
  text-decoration: none;
  padding: 10px;
}
.navbar{
  border-top: 1px solid #E1E3DF;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(225, 227, 223);
  background-color: #f1f1f1;
  width: 100%;
  border-bottom: 1px solid #E1E3DF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(225, 227, 223);
  margin-bottom: 3vh;
}
.navbar ul{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}
.navbar li{
    display: inline-block;
}
.navbar a:hover{
    text-decoration: underline;
    color:#f56400;
}
.container{
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;;
  background: linear-gradient( rgba(0, 0, 0, .5), rgba(0, 0, 0, 0.1) ), url("../images/cover.jpg");
  background-size: cover;
  width: 85vw;
  min-height: 15vw;
  max-height: 18vw;
}
.inner-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.inner-search input{
  width: 20vw;
  height: 3vh;
  border-bottom-color: rgb(173, 174, 170);
}
.inner-search button{
  height: 3vh;
}

.inner-text {
  color: white;
  text-shadow: 1px 1px 0 black;
  font-style: oblique;
  font-size: 26px;
  text-align: center;
}
section{
  margin: auto;
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding-bottom: 2vh;
  width:85vw;
  max-height: 125vh;
  min-height: 75vh;
  text-align: center;
  background-color: white;
  border: 1px solid black;
  background: #f1f1f1;
}

section h1{
  color: #F56400;
  font-size: 3em;
}
section #item-paragraph{
  padding-left: 10%;
  padding-right: 10%;
  font-size: 1.4em;
  text-align: left;
}

.php_table{
  margin: auto;
  width: auto;
  background-color: white;
}
.php_table th,td {
  border: 1px solid black;
  padding: 5px;
}

.flex-text{
  margin: auto;
  width: 85%;
}

.flex-row{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.flex-box{
  min-width: 65%;
  max-width: 85%;
}

#contact-reasons{
  border-color: rgba(0, 0, 0, 1);
  text-align: left;
}

#contact-us{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.orange-button{
    background-color: #F56400;
    width: 173px;
    height: 3.5vh;
    border-color: rgba(0, 0, 0, 0.1);
    color: #FFF;
}
.big-orange-button{
  margin-top: 5px;
  background-color: #F56400;
  width: 173px;
  height: 4vh;
  border-color: rgba(0, 0, 0, 0.1);
  color: #FFF;
  margin-bottom:3vh;
}
.php_image{
  margin-top: 10px;
  width: 40%;
}
.howto-text{
  width: 50%;
  margin: auto;
}
.about-text{
  text-align: left;
  font-size: 1.3em;
  padding-left: 15px;
  padding-right: 15px;
}
#item-flex-box{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.item-box{
  box-sizing: border-box;
  border: 1px solid #F56400;
  padding:5px;
  margin: 15px;
  width: 300px;
  height: 300px;
}
#index-page{
  min-height: 70vh;
  max-height: 300vh;
}
.item-box-title{

}
.item-box-image{
  overflow: hidden;
  width: 100%;
  height: 75%;
  margin-top: 10px
}
.item-box-image img{
max-width: 100%;
max-height:100%;
}
.item-box-time{
}
.category-box{
  height: 200px;
  width: 200px;
  background-color: white;
  margin: 10px;
  font-size: 1.3em;
  padding-top:5px;
  overflow: hidden;
}
.category-box img{
  max-width: 85%;
  max-height: 85%;
  margin: auto;

}
