.inner-text {
    font-size: 2.65vw;
    text-shadow: .5px .5px 0 black;
}

.inner-search input{
  width: 50vw;
  height: 3vh;
  border-bottom-color: rgb(173, 174, 170);
  text-align: center;
  margin-bottom: 10px;
}
section{
  background-color: white;
  padding-bottom: 2vh;
  border: none;
}
section #item-paragraph{
  padding-left: 3%;
  padding-right: 3%;
  font-size: 1.2em;
  text-align: left;
}
.howto-text{
  width: 80%;
  margin: auto;
}
.about-text{
  text-align: left;
  font-size: 1.2em;
  padding-left: 10px;
  padding-right:10px;
}
section h1{
  font-size: 2.5em;
}
.item-box{
  border: 1px solid black;
  padding:5px;
  margin: 7.5px;
  width: 225px;
  height: 225px;
}
